body {
  background-color: cadetblue !important;
}

.card {
  height: 150px;
  width: 300px;
}

.doms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: solid 5px pink;
  width: 45%;
  height: 50%;
  margin: 10px;
}
#app2 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: solid 5px rgb(255, 0, 43);
  width: 45%;
  height: 50%;
  margin: 10px;

}
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.dropdown-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 300px;
  width: 600px;
}

#student-img {
  width: 500px;
  margin-left: 10px;

}

#student-name {
  width: 500px;
  margin-left: 10px;
}

#enter-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}
#student-form-prompt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;

}

#image-form-prompt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;

}

.btn-outline-success {
  width: 80px;
  margin-left: 10px;
}

/*  */

.sort-btns-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.sort-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
