body {
  background-color: cadetblue !important;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  width: 600px;
}



.dropdown-menu {
  margin-top: 10%;
}
