body {
  background-color: cadetblue !important;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.dropdown-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 300px;
  width: 600px;
}

#style-sort-btn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 200px;
}

#student-img {
  width: 500px;
  margin-left: 10px;

}

#student-name {
  width: 500px;
  margin-left: 10px;
}

#enter-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}
#student-form-prompt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;

}

#image-form-prompt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;

}
